/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  
  /*========== Colors ==========*/
  --title-color: #0B0A0A;
  --text-color: #403A3A;
  --text-color-light: #707070;
  --container-color: #FAFAFA;
  --container-color-alt: #F0EFEF;
  --body-color: #FCFCFC;

  /*========== Font and typography ==========*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== Margenes ==========*/
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== BASE ==========*/
*,::before,::after{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
/*========== Variables Dark theme ==========*/
body.dark-theme{
  --title-color: #f2f2f2;
  --text-color: #bfbfbf;
  --container-color: #212121;
  --container-color-alt: #181616;
  --body-color: #2b2b2b;
}

/*========== Button Dark/Light ==========*/
.change-theme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
}

.change-theme:hover{
  color: var(--text-color-light);
}

/*========== Generate PDF button ==========*/
.generate-pdf{
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--text-color);
  cursor: pointer;
}

.generate-pdf:hover{
  color: var(--title-color);
}

/*========== Classes modified to reduce size and print on A4 sheet ==========*/
body{
  margin: 0 0 var(--header-height) 0;
  padding: 0px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,h2,h3,ul,p{
  margin: 0;
}

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-medium); 
}

ul{
  list-style: none;
  padding: 0;
}

a{
  text-decoration: none;
  color:currentcolor;
}

img{
  width: 100%;
  height: auto;
}

/*========== CLASS CSS ==========*/
.section{
  padding: 1.5rem 0;
}

.section-title{
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  text-transform: uppercase;
  letter-spacing: .35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/
.bd-container{
  max-width: 980px;
  width: calc(100% - 3rem);
  margin-left:  var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid{
  display: grid;
  grid-gap: 1.5rem;
}

.l-header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, .1);
  transition: .3s;
}
/*========== SCROLL BAR ==========*/
body::-webkit-scrollbar {
  width: 8px; 
  height: 8px; 
}

body::-webkit-scrollbar-track {
  background: #F3F3F4;
}

body::-webkit-scrollbar-thumb {
  background-color: #b3b3b3; 
  border-radius: 3px;
}

/*========== NAV ==========*/
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width:968px) {
  .nav_menu{
    position: fixed;
    bottom: 100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    transition: .3s;
  }
}

.nav_logo, .nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_toggle{
  font-size: 1.2rem;
  cursor: pointer;
  padding: 5px 15px;
}

.nav_item{
  text-align: center;
  color: #818181;
}

.nav_list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.nav_link{
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
}

.nav_link:hover{
  color: var(--title-color);
}

.nav_icon{
  font-size: 1.2rem;
  margin-bottom: var(--mb-1);
}

/* Show menu */
.show-menu{
  bottom: var(--header-height);
}

.active-link{
  color: var(--title-color);
}
/* Active menu link */


/*========== HOME ==========*/
.home{
  position: relative;
}

.home_container{
  grid-gap: 3rem;
}

.home_data{
  grid-gap: .5rem;
  text-align: center;
}

.home_image{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home_title{
  font-size: var(--h1-font-size);
}

.home_profession{
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home_address{
  grid-gap: 1.2rem;
}

.home_infomation{
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.home_icon{
  font-size: 1.2rem;
  margin-right: .25rem;
}

.home_buttom-movil{
  display: inline-block;
  border:2px solid var(--text-color);
  padding: 1rem 2rem;
  border-radius: .25rem;
  transition: .3s;
  font-weight: var(--font-medium);
  margin: var(--mb-3);
}

.home_buttom-movil:hover{
  background-color: var(--text-color);
  color: var(--container-color);
}

/*========== SOCIAL ==========*/
.social_container{
  grid-template-columns: max-content;
  grid-gap: 1rem;
}

.social_link{
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social_link:hover{
  color: var(--title-color);
}

.social_icon{
  font-size: 1.2rem;
  margin: .25rem;
}

/*========== PROFILE ==========*/
.profile_description{
  text-align: justify;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education_content,
.experience_content{
  display: flex
}

.education h2{
  margin-bottom: 1.9rem;
}
.education_time,
.experience_time{
  padding-right: 1rem;
}

.education_router,
.experience_router{
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-top: .25rem;
}

.education_line,
.experience_line{
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--text-color-light);
  transform: translate(7px, 0);
}

.education_data,
.experience_data{
  grid-gap: .5rem;
}

.education_title,
.experience_title{
  font-size: var(--h3-font-size);
}

.education_studies,
.experience_company{
  font-size: var(--small-font-size);
  color: var(--title-color);
}

.education_year{
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills_content,
.languages_content{
  grid-template-columns: repeat(2, 1fr);
}

.skills h2,
.languages h2{
  margin-bottom: 40px;
}

.skills_content,
.languages_content{
  grid-gap: 0;
}

.skills_name,
.languages_name{
  display: flex;
  align-items: center;
  margin-bottom: var(--mb-3);
}

.skills i{
  display:inline-block;
  margin-right: 3px;
}

.languages_circle{
  display:inline-block;
  width: 5px;
  height: 5px;
  background-color: var(--text-color);
  border-radius: 50%;
  margin-left: .75rem;
  margin-right: 1rem;
}
.languages img{
  width: 20px;
  height: auto;
}
/*========== CERTIFICATES ==========*/
.certificate_title{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
}

/*========== REFERENCES ==========*/
.references_content{
  grid-gap: 0.25rem;
  margin-bottom: 2.3rem;
}

.references_subtitle,
.references_contact{
  color: var(--text-color-light);
}

.references_content,
.references_contact{
  font-size: var(--h3-font-size);
}

.references_title{
  font-size: var(--h3-font-size);
}
/*========== INTERESTS ==========*/
.interests_container{
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}

.interest_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest_icon{
  font-size: 1.5rem;
  color: var(--text-color-light);
  margin-bottom: .25rem;
}

/* Scroll top */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--container-color-alt);
  border-radius: .4rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  visibility: hidden;
}

.scrolltop_icon{
  font-size: 1.5rem;
  color: var(--text-color);
}

.show-scroll{
  visibility: visible;
  bottom: 5rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width:320px) {
  .nav_list{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem .5rem;
  }  
}
/* Classes modified for large screen size */
@media screen and (min-width:968px) {
  body{
    margin: 3rem 0;
  }

  .bd-container{
    margin: 0 auto;
  }

  .l-header,
  .scrolltop{
    display: none;
  }

  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, .15);
  }

  .resume_left{
    background-color: var(--container-color-alt);
  }

  .resume_left,
  .resume_right{
    padding: 0 1.5rem;
  }
  
  .section-title,
  .profile_description{
    text-align: initial;
  } 

  .home_container{
    grid-gap: 1.5rem;
  }

  .home_buttom-movil{
    display: none;
  }
  
  .generate-pdf{
    display: inline-block;
  }

  .references_container{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 3.5rem;
  }

  .languages_content{
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 3.5rem;
  }
  
  .interests_container{
    grid-gap: 2.5rem;
    
    grid-template-columns: repeat(5,1fr);
  }
}
